{% extends "dark/base.html" %}


{% block content %}
    <div class="m-5">
        <p>Name: {{ tround.name }}</p>
        <p>Tournament: {{ tround.tournament }}</p>
        <p>Start Date: {{ tround.start_date }}</p>
        <p>End Date: {{ tround.end_date }}</p>
    </div>
    {% if is_creator_viewing %}
        <form method="post">
            {% csrf_token %}
            <input type="submit" value="Run round">
        </form>
    {% endif %}

    {% if results %}
        {% for single_execution_log, run_logs in results %}
            <h2>
                Round execution ({{ single_execution_log }})
            </h2>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Timestamp</th>
                    <th scope="col">Log level</th>
                    <th scope="col">Module</th>
                    <th scope="col">Log</th>
                </tr>
                </thead>
                <tbody>
                {% for log in run_logs %}
                    <tr>
                        {% for info in log %}
                            <td>{{ info }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    {% endif %}

{% endblock %}
