{% extends "dark/base.html" %}


{% block content %}
    <div class="m-5">
        <p>Name: {{ tround.name }}</p>
        <p>Tournament: {{ tround.tournament }}</p>
        <p>Start Date: {{ tround.start_date }}</p>
        <p>End Date: {{ tround.end_date }}</p>
    </div>

    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Run round">
    </form>

    {% if results %}
        <h3>
            Round results:
        </h3>
        {% for score in results %}
                <p> {{ score }} </p>
            {% endfor %}
    {% endif %}

{% endblock %}
