{% extends "dark/base.html" %}
{% load static %}

{% block section_subtitle %}
    <p>Hello</p>
{% endblock %}

{% block section_title %}
    <p>Home</p>
{% endblock %}

{% block content %}
    <div class="align-items-center">
        <div class="row my-5 py-5 justify-content-md-center">
            <div class="col my-auto">
                <blockquote class="blockquote">
                    <h1 class="mb-1">Happiness is seeing your AI play games.</h1>
                    <p class="blockquote-footer m-0"></p>
                    <h5 class="mt-1"><i>Somebody</i></h5>
                </blockquote>
            </div>
        </div>
        <div class="row mt-5 pt-2 justify-content-around">
            <div class="col-2">
                <figure class="figure">
                    <img src="{% static 'online-game.png' %}" class="figure-img img-fluid rounded"
                         alt="A generic square placeholder image with rounded corners in a figure.">
                    <figcaption class="figure-caption font-weight-bold text-dark"> Host your games!</figcaption>
                </figure>

            </div>
            <div class="col-2">
                <figure class="figure">
                    <img src="{% static 'tournament.png' %}" class="figure-img img-fluid rounded"
                         alt="A generic square placeholder image with rounded corners in a figure.">
                    <figcaption class="figure-caption font-weight-bold text-dark">Join and win tournaments!</figcaption>
                </figure>
            </div>
            <div class="col-2">
                <figure class="figure">
                    <img src="{% static 'vs.png' %}" class="figure-img img-fluid rounded"
                         alt="A generic square placeholder image with rounded corners in a figure.">
                    <figcaption class="figure-caption font-weight-bold text-dark"> Compete with other teams!</figcaption>
                </figure>
            </div>
        </div>
        <div class="row pt-5 justify-content-md-center mt-5">
            <div class="col">
                {% if user.is_authenticated %}
                    <h5>Nice to see you again {{ user.username }}!</h5>
                {% else %}
                    <a href="{% url 'user:register' %}" class="btn btn-lg btn-primary">Sign Up</a>
                    <a href="{% url 'user:login' %}" class="btn btn-lg btn-primary">Sign In</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

