{% extends "dark/base.html" %}

{% block section_subtitle %}
    <p>Member</p>
{% endblock %}

{% block section_title %}
    <p>Remove Member</p>
{% endblock %}

{% block content %}
    <div class="text-center">
        <h2 class="text-danger">
            Are you sure about removing member
            <p class="text-dark">
                {{ member.user }}
            </p>
        </h2>
        <div class="row justify-content-center">
            <div class="col-1">
                <button type="button" class="btn btn-secondary" onclick="location.href =
                        '{% url 'tournament:team:info' member.team.tournament.id member.team.id %}'">
                    Cancel
                </button>
            </div>
            <div class="col-1">
                <form method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger" type="submit">Remove</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
