[run]
omit =
    venv/*
    manage.py

[report]
omit =
    venv/*
    *apps.py
    manage.py
skip_empty = True
skip_covered = True

[html]
skip_empty = True
skip_covered = True
directory = ./generated/coverage
