{% extends "common/base.html" %}

{% block section_subtitle %}
    Teams
{% endblock %}
{% block section_title %}
    All teams
{% endblock %}

{% block content %}
    <table class="table">
        <thead class="thead-default">
            <tr>
                <th scope="col">#</th>
                <th scope="col" class="text-center">Name</th>
                <th scope="col" class="text-center">Tournament</th>
            </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'Show Team Info' team.id%}" class="text-info">{{ team.name }} </a></td>
                <td>{{ team.tournament_ID.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}