{% extends "common/base.html" %}

{% block header %}
    <p>test</p>
{% endblock %}

{% block content %}
    <div class="h-100 align-items-center">
        <div class="row h-50 justify-content-md-center">
            <div class="col my-auto">
              <blockquote>
              <h1><i>Happiness is seeing your AI play games.</i></h1>
              <h3>- Somebody</h3>
              </blockquote>
            </div>
        </div>
        <div class="row justify-content-md-center">
        <div class="col">
            {% if user.is_authenticated %}
                <h5>Nice to have you back {{ user.username }}!</h5>
            {% else %}
                <a href="{% url 'Register' %}" class="btn btn-lg btn-secondary">Sign Up</a>
                <a href="{% url 'Login' %}" class="btn btn-lg btn-secondary">Sign In</a>
            {% endif %}
        </div>
        </div>
    </div>
{% endblock %}

