{% extends "dark/base.html" %}

{% block content %}

    <div class="text-center">
        <h1 style="color: Blue">{{ tournament.name }}</h1>
        <h4>{{ tournament.start_date }} - {{ tournament.end_date }}</h4>

        {% if is_creator_viewing %}
            <button type="button" class="btn btn-primary btn-lg float-begin" onclick="location.href ='{% url 'tournament:tround:add' tournament.id %}'">
                Add Round
            </button>
        {% endif %}
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Rounds</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for tround in rounds %}
            <tr>
                <td>{{ tround.name }}</td>
                <td>{{ tround.start_date }} - {{ tround.end_date }}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-lg float-begin"
                            onclick="location.href ='{% url 'tournament:tround:info' tournament.id tround.id %}'">
                        TERMS
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Contestants</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for team in contestants %}
            <tr>
                <td>{{ team.name }}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-lg float-begin"
                            onclick="location.href ='{% url 'tournament:team:info' tournament.id team.id %}'">
                        DETAILS
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if user.is_authenticated %}
        <button type="button" class="btn btn-primary btn-lg float-begin"
                onclick="location.href ='{% url 'tournament:team:add' tournament.id %}'">
            Participate
        </button>
    {% endif %}

{% endblock %}