{% extends "dark/base.html" %}

{% block section_subtitle %}
    Tournament Details
{% endblock %}
{% block section_title %}
    {{ tournament.name }}
{% endblock %}

{% block content %}
    <b>Tournament:</b> {{ tournament.name }} <br>
    <b>Dates:</b> {{ tournament.start_date }} - {{ tournament.end_date }} <br>
    {% if is_private  %}
        <b>Access Key:</b> {{ tournament.access_key }}
    {% endif %}
    <div class="row mx-sm-5 mb-3 border border-secondary"></div>
    <div>
        {% if is_editable and is_creator_viewing %}
            <button type="button" class="btn btn-secondary btn-md float-begin mb-4"
                    onclick="location.href ='{% url 'tournament:tround:add' tournament.id %}'">
                Add Round
            </button>
        {% endif %}
    </div>

    <div class="row justify-content-around mx-sm-5 mt-sm-2 pb-2 font-weight-bold">
        <div class="col-4 text-left">Rounds</div>
        <div class="col-4"></div>
        <div class="col-4"></div>
    </div>
    <div class="row mx-sm-5 mb-sm-2 border border-secondary"></div>
    {% for tround in rounds %}
        <div class="row justify-content-around swatch-200 mx-sm-5 my-sm-2 py-3 rounded shadow">
            <div class="col-2">{{ tround.name }}</div>
            <div class="col-6">{{ tround.start_date }} - {{ tround.end_date }}</div>
            <div class="col-2">
                <button type="button" class="btn btn-primary btn-sm float-begin"
                        onclick="location.href ='{% url 'tournament:tround:info' tournament.id tround.id %}'">
                    TERMS
                </button>
            </div>
        </div>
    {% endfor %}

    <div class="row justify-content-around mx-sm-5 mt-sm-2 pb-2 font-weight-bold">
        <div class="col-4 text-left">Contestants</div>
        <div class="col-4"></div>
        <div class="col-4"></div>
    </div>
    <div class="row mx-sm-5 mb-sm-2 border border-secondary"></div>
    {% for team in contestants %}
        <div class="row justify-content-around swatch-200 mx-sm-5 my-sm-2 py-3 rounded shadow">
            <div class="col-2">{{ team.name }}</div>
            <div class="col-6"></div>
            <div class="col-2">
                {% if is_editable and not has_team %}
                        <button type="button" class="btn btn-primary btn-sm float-begin"
                                onclick="location.href ='{% url 'tournament:team:join' team.tournament.id team.id %}'">
                            JOIN
                        </button>
                    {% endif %}
                <button type="button" class="btn btn-primary btn-sm float-begin"
                        onclick="location.href ='{% url 'tournament:team:info' tournament.id team.id %}'">
                    DETAILS
                </button>
            </div>
        </div>
    {% endfor %}

    <div class="row my-3 justify-content-center">
        {% if is_editable and user.is_authenticated %}
            <button type="button" class="btn btn-primary btn-md float-begin"
                    onclick="location.href ='{% url 'tournament:team:add' tournament.id %}'">
                Participate
            </button>
        {% endif %}
    </div>
{% endblock %}
