{% extends "tournament/base.html" %}


{% block content %}
    <div class="m-5">
        <p>Name: {{ tournament.name }}</p>
        <p>Creator: {{ tournament.creator }}</p>
        <p>Start Date: {{ tournament.start_date }}</p>
        <p>End Date: {{ tournament.end_date }}</p>
    </div>

    {% if user.is_authenticated and  creator %}
            <a href="{%  url 'gupb_queue:Queue-Add' tournament.pk %}" role="button" class="btn btn-outline-primary">Add Queue</a>
    {% endif %}

    <ul class="list-group list-group-flush d-flex w-50 ">
        {% for queue in queues %}
            <li class="list-group-item list-group-item-dark ">
                {{ queue.name }}
                <a href="{% url 'gupb_queue:Queue-Details' tournament.pk queue.pk %}" role="button" class="btn btn-outline-dark">
                    Navigate
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}