{% extends "common/base.html" %}

{% block content %}
    <div class="text-center">
        <h1 style="color: green">Team {{ team.name }}</h1>
        <h3>participates in</h3>
        <h2>
            <a href="{% url 'Tournament Details' team.tournament_ID.id %}">
                {{ team.tournament_ID.name }}
            </a>
        </h2>
    </div>

    <h3>Participants:</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Participant Name</th>
                <th scope="col">Role</th>
                {% if can_modify_members %}
                <th scope="col"></th>
                 {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for m in members %}
            <tr>
                <th scope="row">1</th>
                <td><a href="{% url 'Show Team Member Info' team.id m.user_ID.id %}">{{ m.user_ID.username }} </a></td>
                <td>{{ m.role_ID.name }}</td>
                {% if can_modify_members and m.role_ID.name != "Creator" %}
                <td>
                    <button type="button" class="btn btn-primary btn-lg float-begin" onclick="location.href ='{% url 'Change Team Member Role' team.id m.user_ID.id %}'">
                        Change Role
                    </button>
                    <button type="button" class="btn btn-primary btn-lg float-begin" onclick="location.href ='{% url 'Remove Team Member' team.id m.user_ID.id %}'">
                        Remove
                    </button>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
    {% if can_modify_members %}
        <button type="button" class="btn btn-primary btn-lg float-begin" onclick="location.href ='{% url 'Add Team Member' team.id %}'">
            Add Member
        </button>
    {% endif %}
    </div>
    <div>
    {% if can_remove %}
        <button type="button" class="btn btn-primary btn-lg float-begin" onclick="location.href ='{% url 'Manage Team Roles' team.id %}'">
            Manage Team Roles
        </button>
        <button type="button" class="btn btn-primary btn-lg float-begin" onclick="location.href ='{% url 'Change Team Name' team.id %}'">
            Change Name
        </button>
        <button type="button" class="btn btn-danger btn-lg float-end" onclick="location.href ='{% url 'Remove Team' team.id %}'">
            Remove Team
        </button>
    {% endif %}
    </div>
{% endblock %}