{% extends "dark/base.html" %}

{% block section_subtitle %}
    <p>Platform</p>
{% endblock %}

{% block section_title %}
    <p>Add Platform</p>
{% endblock %}

{% block content %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div>
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
            <a class="btn btn-secondary" href="/">Cancel</a>
            <button class="btn btn-primary" type="submit">Add Platform</button>
        </form>
    </div>
{% endblock %}
